body{
    background: url(bg.png)no-repeat center center;
    background-size: cover;
}
#clockcontainer{
    position: relative;
    background:url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    height: 34vw;
    width: 34vw;
    /* height: 234px;
    width: 234px; */
}
#hour, #minute, #second{
    position: absolute;
    border-radius: 8px;
    background-color:black; 
    transform-origin: bottom;
    /* opacity: 0.8; */
}
#hour{
    width: 2%;
    height: 30%;
    top: 19.5%;
    left: 48.8%;
}
#minute{
    width: 1.5%;
    height: 34%;
    top: 16%;
    left: 49%;
}
#second{
    width: 1%;
    height: 36.1%;
    top: 13.9%;
    left: 49.3%;
   
}